* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    /* -image: url(Screenshot\ 2023-03-05\ 150028.png); */
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    height: 8vh;
}

.item1 {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(123, 255, 123);
    color: black;
    border: 10px rgb(123, 255, 123) solid;
    border-radius: 20px;
}

.item:hover {
    /* background-color: rgb(113, 120, 127);
    border: 10px solid;
    border-radius: 20px; */
    color: rgb(88, 250, 88);

}

.heroimage {
    max-width: 100%;
    max-height: 100%;
    margin: 3%;
}

.fest {
    display: flex;
    background-color: black;
    color: beige;
    justify-content: center;
}

.text {
    font-family: 'Dancing Script', cursive;
    ;
    justify-content: center;
    padding: 20%;
}

.competitions {
    display: flex;
    background-color: rgb(236, 236, 201);
    justify-content: center;
}

.code {
    padding: 10px;
    padding-right: 20px;
}

.last {
    display: flex;
    justify-content: center;
    background-color: rgb(64, 96, 124);

}

.report {
    padding-left: 10px;
    padding-top: 10px;
}

.text1 {
    font-family: 'Dancing Script', cursive;
    justify-content: center;
    padding: 100px;
}